In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
%cd drive/MyDrive/1016/Project/Typicality_project/

/content/drive/MyDrive/1016/Project/Typicality_project

In [3]:
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from sklearn.model_selection import train_test_split
import os
import matplotlib.pyplot as plt
from scipy import stats
import ast

In [4]:
categories = ['banana','beach','car','church','lighthouse','mountain','mug','plane']
path='./Analysis/human_rating_bycat'

In [5]:
for i, cate in enumerate(categories):
    col = [cate+'_'+str(i+1) for i in range(16)]
    new = pd.read_csv(path+'/'+cate+'.csv')
    new.columns = col
    if i == 0:
        old = new
    else:
        old = pd.concat([old,new],axis=1)
df = old

In [6]:
df.head()

   banana_1  banana_2  banana_3  ...  plane_14  plane_15  plane_16
0         7         5         6  ...         4         4         7
1         7         6         7  ...         5         3         7
2         7         7         7  ...         5         5         7
3         7         7         7  ...         1         2         7
4         7         6         7  ...         3         4         7

[5 rows x 128 columns]

(Test) Use quantiles to remove outliers

In [7]:
quantile_low = df.quantile(0.1)
quantile_high = df.quantile(0.9)
iqr = quantile_high - quantile_low

In [8]:
outliers = (df < quantile_low) | (df > quantile_high)
df_new = df[outliers.sum(axis=1) <= 12]

Compute 7 scorse and sort images by order in survey

In [9]:
# header_list = ["type", "dir", "id_labels", "readable_labels", "id_label", "prob", "readable_label"]
# overfeat_df=pd.read_csv('./Overfeat/overfeat_scores_final.csv',index_col=0,header=0,names=header_list)

In [10]:
header_list = ["type", "dir", "id_labels", "readable_labels", "id_label", "prob", "readable_label"]
overfeat_df=pd.read_csv('./Overfeat/overfeat_scores_final.csv',index_col=0,header=0,names=header_list)
overfeat_df['typicality_score'] = np.round(overfeat_df['prob'] * 100,2)
overfeat_df['7_score']= np.round(overfeat_df['typicality_score']*7/100,2)
overfeat_df['type'] = overfeat_df['type'].apply(lambda x: x.lower())

In [11]:
overfeat_df['number'] = overfeat_df['dir'].astype('int')
overfeat_df = overfeat_df.sort_values(['type','number']).reset_index(drop=True)

In [12]:
overfeat_df.head()

     type  dir  ... 7_score number
0  banana    1  ...    6.86      1
1  banana    2  ...    0.86      2
2  banana    3  ...    2.93      3
3  banana    4  ...    4.33      4
4  banana    5  ...    2.55      5

[5 rows x 10 columns]

# Correlation with human ratings

Changes from original script: 
1. Use spearman rank correlation instead of pearson
2. Compute average human ratings first, and then compute correlation with neural net typicality scores

without dropping outliers

In [13]:
final_corr = dict()
for t in np.unique(overfeat_df['type']):
    col_names = [t + '_' + str(i+1) for i in range(16)]
    human_ratings = df[col_names] 
    net_ratings = overfeat_df[overfeat_df['type'] == t] 
    
    human_scores = human_ratings.mean().values
#     net_scores = net_ratings['readable_labels'].apply(lambda x: ast.literal_eval(x)[list(ast.literal_eval(x).keys())[0]]).values
#     net_scores = net_ratings['7_score'].values # both get worse scores

    net_scores = net_ratings['typicality_score'].values
    
    coef, p=stats.spearmanr(human_scores, net_scores)
#     coef, p=stats.pearsonr(human_scores, net_scores)
    final_corr[t]=coef
    print(f'{t}: ', final_corr[t])

banana:  0.7099648397193359
beach:  0.40470945467236635
car:  0.44542966659981903
church:  0.38410606425268223
lighthouse:  0.6147058823529412
mountain:  0.4930096993281554
mug:  0.3006633093458874
plane:  0.5682670754510278

In [14]:
print(np.mean(list(final_corr.values())))

0.49010699896527693

after dropping outliers

In [15]:
final_corr = dict()
for t in np.unique(overfeat_df['type']):
    col_names = [t + '_' + str(i+1) for i in range(16)]
    
    human_ratings = df_new[col_names] 
    net_ratings = overfeat_df[overfeat_df['type'] == t] 
    
    human_scores = human_ratings.mean().values
    net_scores = net_ratings['7_score'].values
    coef, p=stats.spearmanr(human_scores, net_scores)
    final_corr[t]=coef
    print(f'{t}: ', final_corr[t])

banana:  0.6804444721634385
beach:  0.39572597333024884
car:  0.5037180695877399
church:  0.32818257597068257
lighthouse:  0.5949932815016497
mountain:  0.4892675634202017
mug:  0.3165680473372781
plane:  0.544378698224852

In [16]:
print(np.mean(list(final_corr.values())))

0.4816598351920114

In [17]:
overfeat_df['human_score'] = np.array(df.apply(np.mean,axis=0))

In [18]:
overfeat_df.to_csv('overfeat_result.csv')